:root {
    --headerColor: black;
    --widthSqDiv: 500px;
    --heightSqDiv: var(--widthSqDiv);

}

h1 {
    text-align: center;
    font-size: 50px;
    color: var(--headerColor);
}

h2 {
    color: var(--headerColor);
}

h3 {
    color: var(--headerColor);
    margin-bottom: 20px;
    margin-top: 20px;
}


body {
    color: black;
    background-color: white;
    font-size: 25px;
    overflow-x: hidden;

}

div {
    margin-left: 5px;
    margin-bottom: 5px;
    overflow: hidden;
}

a {
    color: black;
    text-decoration: none;
}

a :hover {
    color: rgb(23, 23, 23);
}

.mainT {
    margin-left: auto;
    margin-right: auto;

}

.anfangsschrift {
    text-align: center;
    font-size: 60px;
    text-decoration: none;
    
}

.fixed {
    color: white;
    background-color: black;
    border-style: solid;
    border-color: black;
    border-width: 10px;
    position: fixed;
    height: 50%;

}

.viecher {
    color: black;
    background-color: white;
    border-style: solid;
    border-radius: 25px;
    width: var(--widthSqDiv);
    height: var(--heightSqDiv);
    display: flex;
    justify-content: center;
    align-items: center;

}

.viecher:hover {
    background-color: grey;

}

.viecher2 {
    color: black;
    background-color: white;
    border-style: solid;
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
    /*width: 800px;*/
    /*height: 800px;*/
    cursor: pointer;
    /* Set the cursor to indicate the element is clickable */
}

.viecher2.maximized {
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    /* Increase the z-index to ensure it overlays other elements */
    position: fixed;
    /* Change position to fixed */
    top: 0;
    /* Position it at the top of the viewport */
    left: 0;
    /* Position it at the left of the viewport */
    display: flex;
    justify-content: center;
    align-items: center;
}

.viecher2.maximized .image-overlay {
    position: absolute;
    left: 20px;
    /* Adjust the positioning as desired */
    top: 20px;
    /* Adjust the positioning as desired */
    color: #fff;
    z-index: 2;
    display: block;
}

.viecher2 .image-overlay {
    position: absolute;
    left: 20px; /* Adjust the positioning as desired */
    top: 20px; /* Adjust the positioning as desired */
    color: #fff;
    padding: 10px;
    background-color: rgb(23, 23, 23, 0.7);
    border-style: solid;
    border-color: black;
    border-radius: 25px;
    z-index: 2;
    display: none; /* Hide the overlay by default */
  }

h2 {
    color: white;
  }

.bilder {
    color: black;
    background-color: white;
    border-style: solid;
    border-radius: 25px;
    padding: 20px;
    width: var(--widthSqDiv);
    height: var(--heightSqDiv);

}

.bilderV {
    min-height: 100%;
    min-width: 100%;
    object-fit: contain;
    overflow: hidden;
}


.bildunterschrift {
    font-size: 50pt;

}

.bildunterschriftdiv {
    margin-top: 12px;
    margin-bottom: 35px;
}

.linkzusatz {
    color: lightblue;
}


#backButton {
    color: black;
    font-weight: bold;
    font-size: 55px;
    background-color: lightblue;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    bottom: 0;
    left: 0;
    height: min-content;
    width: min-content;

}

